.poster {
    margin: 0;
    height: 100%;
    position: relative;
    
}

.poster img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    overflow: hidden;
}

.translucent {
    background-color: rgba(51, 51, 51, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(12px);
}