html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Muli', sans-serif;
    line-height: 1.75rem;
    margin: 0;
    background-image: url("assets/background.png");
    background-size: cover;
}

p {
    color: #333;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.logo {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
    padding-top: 1rem;
}

.menu {
    list-style-type: none;
    text-align: right;
    padding: 0;
}

.menu li{
    display: inline;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    margin-left: 2rem;
    cursor: pointer;
}

.menu li:hover {
    border-bottom: 2px solid black;
}

.hamburger {
    display: inline-block;
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}


.main_container {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    max-height: 540px;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    max-height: 8rem;
}

.link {
    text-decoration: none;
    color: #000;
}

.active {
    border-bottom: #000 solid 2px;
}

.logo_lite {
    visibility: hidden;
}

.whitespace {
    height: 6rem;
}

.two_container {
    flex: 1;
    flex-grow: 1;
    padding: 0 1rem 0 1rem;
    margin: 2rem;
}

.two_container.right {
    margin-top: 0;
}

.contentItem.process{
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
}

.contentItem.arrow {
    align-items: center;
    justify-content: center;
}

.contentItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.smallContentItem {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.separator {
    width: 1.5rem;
    border-bottom: 4px solid black;
    margin: 1rem 0 1rem 0;
}

.thickSeparator {
    width: 2.5rem;
    border-bottom: 6px solid black;
    margin: 1rem 0 1rem 0;
}

.right_container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 45px rgba(0,0,0,.25);
}

.avatar {
    width: 140px;
    height: 140px;
    background: url('./assets/arief@2x.png') no-repeat;
    background-size: cover;
    margin-bottom: 2rem;
}

.posterImage {
    height: 21rem;
}

.posterImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register {
    height: 6.5rem;
    background-color: #171717;
    padding: 1.5rem;
}

.register span {
    color: white;
}

button {
    background-color: white;
    width: 100%;
    height: 3rem;
    border: 0;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.footer {
    margin: 0;
    visibility: hidden;
}


/* Responsive Design */

@media only screen
    and (min-width: 568px)
    and (max-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
    
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 2rem 2rem 0 2rem;
        }

        .menu li{
            display: inline;
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            margin-left: 1rem;
            cursor: pointer;
        }

        .logo_lite {
            display: none;
        }

        .contentItem {
            text-align: justify;
        }
        
        .smallContentItem.right {
            text-align: right;
        }

        .separator.right{
            margin-left: 375px;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin-top: 2rem;
            opacity: 0.3;
            font-size: 0.875rem;
        }
       
}

@media only screen
    and (min-width: 320px)
    and (max-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    
        .header {
            padding: 1rem 0 0 0;
        }
        
        .menu {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            text-align: right;
            padding: 0;
        }
        
        .menu li{
            font-family: 'Poppins', sans-serif;
            font-size: 1rem;
            margin-left: 1rem;
            cursor: pointer;
        }
        
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
        }
        

        .two_container {
            flex: 1;
            flex-grow: 1;
            margin: 1rem;
        }

        .contentItem {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
        }

        .smallContentItem {
            margin-bottom: 2rem;
        }

        .posterImage {
            height: 15rem;
        }

        .register {
            height: 100%;
            padding: 0;
            background-color: #171717;
        }

        .register span{
            margin: 5%;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin-top: 2rem;
            opacity: 0.3;
            font-size: 0.75rem;
        }
}

@media only screen
    and (min-width: 320px)
    and (max-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
        }

        .header {
            padding: 0.75rem 0 0 0;
        }

        .two_container .logo {
            display: none;
        }

        .two_container .menu{
            width: 160px;
        }


        .two_container .logo_lite {
            text-align: left;
        }

        .logo_lite h1{
            line-height: 110%;
        }

        .logo_lite {
            visibility: visible;
        }

        .logo_underline{
            border-bottom: #000 solid 5px;
            width: 1.5rem;
        }

        .menu {
            text-align: right;
        }

        .menu li {
            margin-top: 1rem;
        }

        .contentItem {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
        }

        .smallContentItem {
            margin-bottom: 2rem;
        }

        .posterImage {
            height: 15rem;
        }

        .register {
            height: 100%;
            padding: 0;
            background-color: #171717;
        }

        .register span{
            margin: 5%;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin-top: 2rem;
            opacity: 0.3;
            font-size: 0.75rem;
        }
}