html {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Source Sans Pro', serif;
    line-height: 30px;
    margin: 0;
    background-image: url("assets/background.png");
    background-size: cover;
}

p {
    color: #333;
    font-weight: 400;
    font-size: 18px;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

button span {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14pt;
    margin-right: 0.5rem;
}

img.logo {
    height: 45px;
}



/* Navbar CSS*/

nav {
    overflow: hidden;
    padding: 2.5em 2.5em 3em 2.5em;
  }
  nav a {
    color: #000;
  }

  nav a:visited {
    color: #000;
  }
  nav .navWide {
    display: none;
    margin: 0 auto;

  } 
   nav .navWide .wideDiv {
    font-family: 'Poppins', sans-serif;
    text-align: center;
  }

  nav .navWide .wideDiv a {
    text-decoration: none;
    display: inline-block;
    padding: 0 2rem; 
  }

  nav .navNarrow i {
    float: right;
    cursor: pointer;
    color: #000;
  }
  nav .navNarrow .narrowLinks {
    display: none;
    padding: 4rem 0 0 0;
  }

  nav .navNarrow .narrowLinks a {
    text-decoration: none;
    display: block;
    float: right;
    clear: right;
    padding: 0.5em 0;
  }

  .logo-mobile {
      position: absolute;
  }

  .logo-mobile img{
      height: 2rem;
  }
  
  @media (min-width: 660px) {
    nav .navWide {
      display: block;
    }
    nav .navNarrow {
      display: none;
    }
  }

/* Navbar CSS */

.normal {
    color: #000;
    transition: color 0.5s ease; 
  }

  .normal:hover {
    color: #F05456;
    transition: color 0.5s ease; 
  }

  .active {
    border-bottom: solid 1px #F05456;
    color: #F05456;
  }

.full_container {
    display: flex;
    flex-direction: column;
    padding: 0rem 2rem 0 2rem;
}

.main_container {
    display: flex;
    padding: 0 2rem 0 2rem;
}

.header {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    max-height: 8rem;
}

.link {
    text-decoration: none;
    color: #000;
}

.logo_lite {
    visibility: hidden;
}

.whitespace {
    height: 6rem;
}

.two_container {
    flex: 1;
    flex-grow: 1;
    padding: 0 1rem 0 1rem;
    margin: 2rem;
}

.two_container.right {
    margin-top: 0;
}

.contentItem.process{
    align-items: center;
    justify-content: center;
    border: #000 solid 1px;
}

.contentItem.arrow {
    align-items: center;
    justify-content: center;
}

.contentItem {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.smallContentItem {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.separator {
    width: 1.5rem;
    border-bottom: 4px solid black;
    margin: 1rem 0 1rem 0;
}

.thickSeparator {
    width: 2.5rem;
    border-bottom: 6px solid black;
    margin: 1rem 0 1rem 0;
}

.right_container {
    margin: 0 3rem 0 3rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 45px rgba(0,0,0,.25);
}

.avatar img{
    width: 140px;
    height: 140px;
    margin-bottom: 2rem;
}

.posterImage {
    height: 28.5rem;
}

.posterImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.register {
    position: absolute;
    width: 5rem;
    height: 5rem;
    background-color: #171717;
    z-index: 1;
    left: 50%;
    top: 36rem;
    transform: translate(-50%, -50%);
}

.register img {
    display: block;
    margin: auto;
    margin-top: 1.5rem;
}

.register span {
    color: white;
}

button {
    background: linear-gradient(100.85deg, #283891 0.25%, #F05456 91.29%);
    width: 50%;
    height: 3rem;
    border: 0;
    margin: 1.5rem 0 0 0;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    color: white;
    box-shadow: 0 20px 45px rgba(0,0,0,.25);
    -webkit-transition: margin 0.2s ease-out;
    -moz-transition: margin 0.2s ease-out;
    -o-transition: margin 0.2s ease-out;
    transition: margin 0.2s ease-out;
}

button:hover {
    margin: 1.5rem 0 0 0.5rem;
}

.footer {
    margin: 6rem 0 3rem 2rem;
    text-align: left;
    opacity: 0.45;
    font-size: 10pt;
}

.footer .sosmed a{
    font-size: 12pt;
    padding-left: 2rem;
    text-decoration: none;

}


/* Responsive Design */

@media only screen
    and (min-width: 824px)
    and (max-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
    
        h1#careerpad_title {
            font-size: 22pt;
            text-align: left;
        }

        .main_container {
            display: flex;
            align-items: stretch;
            padding: 2rem 2rem 0 2rem;
        }

        .two_container {
            padding: 0;
        }

        .logo_lite {
            display: none;
        }

        .contentItem {
            text-align: justify;
        }
        
        .smallContentItem.right {
            text-align: right;
        }

        .separator.right{
            margin-left: 375px;
        }

        .footer {
            margin: 6rem 0 3rem 2rem;
            text-align: left;
            opacity: 0.45;
            font-size: 10pt;
        }

        .whitespace {
            height: 3rem;   
        }

        button {
            width: 60%;
        }
       
}

@media only screen
    and (min-width: 568px)
    and (max-width: 853px)
    and (-webkit-min-device-pixel-ratio: 1) {
        
        h1#careerpad_title {
            font-size: 20pt;
            text-align: left;
            padding: 5rem 0 0 0;
        }

        nav .navWide .wideDiv {
            text-align: left;
        }

        nav .navWide .wideDiv a {
            text-decoration: none;
            display: inline-block;
            padding: 0 1rem;
          }

        .full_container {
            padding: 1rem;
        }
        
        .right_container{
            margin: 0 2rem;
        }

        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 2rem 0 0 0;
        }

        .two_container {
            padding: 0;
        }

        .whitespace {
            height: 0;
        }

        button {
            width: 40%;
        }

        .posterImage{
            height: 27.5rem;
        }
    }

@media only screen
    and (min-width: 480px)
    and (max-width: 568px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    
        .header {
            padding: 1rem 0 0 0;
        }
        
        nav {
            padding: 2rem;
        }

        nav .navWide .wideDiv a {
            text-decoration: none;
            display: inline-block;
            padding: 0 1rem;
          }
        
        .full_container {
            margin: 0;
            padding: 0;
        }

        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
        }

        .right_container{
            margin: 0 2rem 0 2rem;
        }

        .two_container {
            margin: 1rem;
        }

        button {
            width: 50%;
        }
        
        .register {
            top: 27.5rem;
        }

        .two_container {
            flex: 1;
            flex-grow: 1;
            margin-bottom: 0;
        }

        .contentItem {
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .smallContentItem {
            margin-bottom: 2rem;
        }

        .posterImage {
            height: 21.5rem;
        }

        .footer {
            margin: 6rem 0 3rem 2rem;
            text-align: left;
            opacity: 0.45;
            font-size: 10pt;
        }

        .whitespace {
            height: 2rem;
        }
}

@media only screen
    and (min-width: 320px)
    and (max-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
        
        h1#careerpad_title {
            font-family: 'Source Sans Pro', serif;
            font-weight: 400;
            font-size: 16pt;
            line-height: 150%;
        }

        nav {
            padding: 2rem;
        }
    
        .full_container{
            margin: 0;
            padding: 0;
        }
        
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
        }

        .header {
            padding: 0.75rem 0 0 0;
        }

        button {
            width: 100%;
        }

        .two_container {
            padding: 0;
            margin: 0 2rem 0 2rem;
        }

        .two_container .logo {
            display: none;
        }

        .two_container .menu{
            width: 160px;
        }

        .right_container {
            margin: 0;
            width: 100%;
            box-shadow: none;
        }

        .register {
            visibility: hidden;
        }

        .two_container .logo_lite {
            text-align: left;
        }

        .logo_lite h1{
            line-height: 110%;
        }

        .logo_lite {
            visibility: visible;
        }

        .logo_underline{
            border-bottom: #000 solid 5px;
            width: 1.5rem;
        }

        .contentItem {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;
        }

        .smallContentItem {
            margin-bottom: 2rem;
        }

        .avatar img {
            margin: 3rem 0 0 0;
        }

        .posterImage {
            height: 15rem;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin: 2rem 0 2rem 0;
            opacity: 0.3;
            font-size: 0.75rem;
        }

        .whitespace {
            height: 0;
        }
}