html {
    height: 100%;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Muli', sans-serif;
    line-height: 1.75rem;
    margin: 0;
    background-image: url("./assets/background.png");
    background-size: cover;
}

p {
    color: gray;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}

.logo {
    margin-bottom: 10rem;
}

.main_container {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    height: 100vh;
}

.two_container {
    flex: 1;
    flex-grow: 1;
    padding: 1rem;
    margin: 2rem;
}

.contentItem {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.smallContentItem {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.separator {
    width: 1.5rem;
    border-bottom: 4px solid black;
    margin: 1rem 0 1rem 0;
}

.thickSeparator {
    width: 2.5rem;
    border-bottom: 6px solid black;
    margin: 1rem 0 1rem 0;
}

.right_container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 30px 45px rgba(0,0,0,.25);
}

.posterImage {
    height: 25rem;
}

.posterImage img {
    width: 100%;
    height: 100%;
}

.register {
    height: 6.5rem;
    background-color: #171717;
    padding: 1.5rem;
}

.register span {
    color: white;
}

button {
    background-color: white;
    width: 100%;
    height: 3rem;
    border: 0;
    margin-top: 1.5rem;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

.footer {
    margin: 0;
    visibility: hidden;
}


/* Responsive Design */

@media only screen
    and (min-device-width: 768px)
    and (max-device-width: 1024px)
    and (-webkit-min-device-pixel-ratio: 1) {
    
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 2rem 7rem 0 7rem;
        }

        .contentItem {
            text-align: justify;
        }
        
        .smallContentItem.right {
            text-align: right;
        }

        .separator.right{
            margin-left: 375px;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin-top: 2rem;
            opacity: 0.3;
            font-size: 0.875rem;
        }
       
}

@media only screen
    and (min-device-width: 320px)
    and (max-device-width: 480px)
    and (-webkit-min-device-pixel-ratio: 2)
    and (orientation: portrait) {
    
        .main_container {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            padding: 0;
        }

        .two_container {
            flex: 1;
            flex-grow: 1;
            margin: 1rem;
        }

        .contentItem {
            margin-top: 4rem;
            display: flex;
            flex-direction: column;
        }

        .smallContentItem {
            margin-bottom: 2rem;
        }

        .posterImage {
            height: 15rem;
        }

        .register {
            height: 100%;
            padding: 0;
            background-color: #171717;
        }

        .register span{
            margin: 5%;
        }

        .footer {
            visibility: visible;
            text-align: center;
            margin-top: 2rem;
            opacity: 0.3;
            font-size: 0.75rem;
        }
}